<h2 mat-dialog-title>Upload Document</h2>

<mat-dialog-content class="upload-container">

  <button mat-stroked-button (click)="fileInput.click()">
    Choose File
  </button>

  <input hidden #fileInput type="file" (change)="onFileSelected($event)" />

  <div *ngIf="selectedFile()" class="file-name">
    {{ selectedFile()?.name }}
  </div>

  <mat-progress-bar *ngIf="loading()" mode="indeterminate"></mat-progress-bar>

</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button mat-button mat-dialog-close>Cancel</button>

  <button
    mat-raised-button
    color="primary"
    (click)="upload()"
    [disabled]="!selectedFile() || loading()"
  >
    Upload
  </button>
</mat-dialog-actions>